In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
data = pd.read_csv('/home/hp/Documents/College/Semester 5/FML/Find S Algorithm/ws.csv',names=['sky','Temp','Humidity','Wind','Water','Forecast','Enjoy Sport'])
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [3]:
# h0 = np.zeros(6)
# h0

array([0., 0., 0., 0., 0., 0.])

In [4]:
# data_column_dropped = data.drop(columns=['Enjoy Sport'],index=[2])
# data_column_dropped

     sky  Temp Humidity    Wind Water Forecast
0  Sunny  Warm   Normal  Strong  Warm     Same
1  Sunny  Warm     High  Strong  Warm     Same
3  Sunny  Warm     High  Strong  Cool   Change

In [5]:
# first_row = data_column_dropped.iloc[0].tolist()
# first_row

['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']

In [3]:
data_target = np.array(data)[:,-1]
data_target

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [4]:
data_attributes = np.array(data)[:,:-1]
data_attributes

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [5]:
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [28]:
def train(attributes,target):
    for index, val in enumerate(target):
        if val == 'Yes':
            specific_hypothesis = attributes[index].copy()
            # print(f' for the target loop {specific_hypothesis} \n\n')
            break
        
    
    for index,val in enumerate(attributes):
        if target[index] == 'Yes':
            # print(target)
            for x in range (len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                    # print(f'for the attributes loop x = {x} and specific hypo = {specific_hypothesis}')
                else:
                    pass
    return specific_hypothesis

In [17]:
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [29]:
print(train(data_attributes, data_target))
# print(f'The final hypothesis is - {train(data_attributes,data_target)}')

['Sunny' 'Warm' '?' 'Strong' '?' '?']